name: "Test"
on:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
    - uses: cachix/cachix-action@v16
      with:
        name: attic-trusted-publisher
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - run: |
        nix build --no-link --print-out-paths -L .#attic-trusted-publisher > paths.txt

    - run: |
        nix run --inputs-from . nixpkgs#cachix -- push attic-trusted-publisher < paths.txt

    - run: |
        nix run --inputs-from . nixpkgs#attic-client -- login default https://attic.lietar.net $(nix run .#attic-trusted-publisher -- login https://attic.lietar.net)
        nix run --inputs-from . nixpkgs#attic-client -- cache info default:attic-trusted-publisher
        nix run --inputs-from . nixpkgs#attic-client -- push default:attic-trusted-publisher --stdin < paths.txt
