name: "Test"
on:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        extra_nix_config: |
          extra-substituters = https://attic.lietar.net/attic-trusted-publisher
          extra-trusted-public-keys = attic-trusted-publisher:TdBvIIJcKiGvLbg4iVZfVxC881swdaKZ/A359GfoNBg=

    - run: |
        nix run --inputs-from . nixpkgs#attic-client -- login default https://attic.lietar.net $(nix run .#attic-trusted-publisher -- login https://attic.lietar.net)
        nix run --inputs-from . nixpkgs#attic-client -- cache info default:attic-trusted-publisher

    - run: nix build .#attic-trusted-publisher
    - run: |
        nix run --inputs-from . nixpkgs#attic-client push default:attic-trusted-publisher result
